<h1>RAILS 7</h1>
<p>THIS IS MY RAILS 7 BLOG</p>


<div class="container">
<div class="card" style='border-radius:15px; border: 2px solid black; background-color:white; color:blue; height:fit-content; width:300px''>
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages4.alphacoders.com%2F922%2Fthumb-1920-922300.jpg&f=1&nofb=1" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" style="padding:1px">View Blogs</h5>
    <p class="card-text"> if you want to see what other people are talking view other blogs</p>
    <a href="/posts" class="btn btn-primary">View Blogs</a>
  </div>
</div>


<div class="card" style='border-radius:15px; border: 2px solid black; background-color:white; color:blue; height:fit-content; width:300px''>
  <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fassets.change.org%2Fphotos%2F9%2Flz%2Fzq%2FSjLzzqoSIOdDwqH-1600x900-noPad.jpg%3F1515333742&f=1&nofb=1" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Start a New Blog</h5>
    <p class="card-text">start you own conversation </p></p>

    <a href="/posts/new" class="btn btn-primary">New Post</a>
  </div>
</div>
</div>